/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body{
  margin: 0;
  font-family: "Roboto";
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  overflow: visible;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}

.clear{
  clear: both;
}

.list-inline {
  display: inline-flex;
  list-style: none;
}

.list-inline-item {
  margin-right: .5rem;

}